<div ng-controller = "StatsBigSellerController">
    
    <h3>
        This demo interface provides an at-a-glane feed of top sellers in your store.
    </h3>
    
    <h3>[Query Time: {{queryTime}}msec]</h3>
      
    <div class = "top-sellers" ng-repeat="item in topSellers track by $index">
        <div class="image"><img src="{{item.image}}"/></div>
        <div class="caption">
            <span class = "qty">{{item.quantity}}</span>
            {{item.name}}
            <br/> <span class = "product-id">{{item.product_id}}</span>
        </div>
    </div>
</div>